* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(15, 15, 15);
}

.nav-bar {
  background-color: transparent;
  width: 100%;
  height: 70px;
  outline: 1px solid rgb(65, 65, 65);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 30px;
  margin: 0 20px 0 20px;
}

.search-bar {
  margin-right: auto;
}

.search-bar input {
  width: 30px;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgb(165, 0, 0);
  background-color: #252525;
  padding-left: 5px;
  transition: all 0.4s ease-out;
  background: url("./Images/magnify.png") no-repeat right calc(15%) center;
  background-size: 14px;
}

.search-bar input::placeholder {
  opacity: 0;
}

.search-bar,
textarea:focus,
input:focus {
  color: white;
}

.list li {
  list-style: none;
  font-size: 0.6em;
}

.list a {
  text-decoration: none;
  padding-right: 20px;
  color: white;
}

.list a:hover {
  color: rgb(187, 6, 42);
}

/* Images grid*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 105px;
}

.row-2x {
  grid-row: 4 / span 2;
}

.row-3x {
  grid-row: 2 / span 2;
}

/* images butons */

.bar {
  position: absolute;
  margin: 5px 0 0 30px;
}

.bar button {
  width: 15px;
  height: 15px;
  font-size: 0.5em;
  border-radius: 50%;
  border: none;
  background-color: rgb(187, 6, 42);
  color: white;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
}

/* actual images */

.poster {
  overflow: hidden;
  text-align: center;
}

.poster img {
  max-width: 80px;
  border-radius: 10px;
  margin: 10px 0 0;
  transition: all 0.5s ease-out;
}

.title {
  color: white;
  font-size: 0.6em;
}

/* form */

.form-container {
  width: fit-content;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;

  background: black url("./Images/background.png") no-repeat;
  background-size: 125%;
}

form.form-container.form-control > * {
  margin-left: 170px;
}

.form-group input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(56, 56, 56);
  background-color: black;
  outline: none;
  color: white;
  font-size: 0.5em;
  padding: 10px 0 5px 0;
  margin-left: 85px;
}

.form-group label {
  color: white;
}

.form-group input:focus {
  color: white;
}

.btn {
  background-color: transparent;
  border-radius: 50px;
  margin: 20px 0 0 150px;
  padding: 2px 10px;
  font-size: 0.4rem;
  border: solid 1.5px transparent;
  background-image: linear-gradient(101deg, #a1c4fd, #c4e6fa);

  background-origin: border-box;
  box-shadow: 2px 1000px 1px black inset;
  color: white;
  outline: none;
}

.btn:hover {
  box-shadow: 1000px 1px #252525;
}

/* Error message */

.invalid-feedback {
  color: red;
}

.alert-danger {
  width: 150px;
  height: 30px;
  background-color: #b9121a;
  text-align: center;
  padding: 5px;
  margin: 20px auto;
  border-radius: 10px;
  color: rgb(255, 172, 186);
  font-size: 0.5em;
  border: 1.5px solid #df0e0e;
}

.alert-success {
  width: 150px;
  height: 30px;
  background-color: #15d189;
  text-align: center;
  padding: 5px;
  margin: 20px auto;
  border-radius: 10px;
  color: rgb(172, 255, 227);
  font-size: 0.5em;
  border: 1.5px solid #09f1a4;
}

/* Profile */

.profile {
  background-color: #df1b1b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  transition: all 0.5s ease-out;
  background: url("./Images/profile.png") no-repeat center;
  background-size: 25px;
}

.profile-images{
  width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  grid-row-start: 2;
}

.username span {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  padding-right: 4px;
}

.username {
  color: rgb(187, 6, 42);
  display: inline-block;
  padding-right: 10px;
  text-transform: uppercase;
}

/* .profile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr;
} */

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  grid-column-start: 4;
  margin: 20px;
  background: url("./Images/profile.png") no-repeat center;
  background-size: 35px;
}

/* modal */

.modal-form {
  margin: 0 auto;
  text-align: center;
}

.modal-description a {
  color: black;
}
.modal-description h6 {
  margin-top: 10px;
}

.modal-form h1 {
  font-size: 1em;
}

.modal-input {
  border-style: hidden;
  outline: none;
  font-size: 1em;
  margin-bottom: 10px;
}

.modal-input:focus {
  color: red;
}

.modal-btn {
  background-color: transparent;
  font-size: 0.7rem;
  outline: none;
  border: none;

  /* border: solid 2px transparent;
  background-image: linear-gradient(101deg, #89f7fe, #66a6ff);
  /* border-radius: 50px; */
  /* margin: 20px 0 0 0; */
  /* background-origin: border-box;
  box-shadow: 2px 1000px 1px white inset; */
}

.modal-form img {
  width: 200px;
  border-radius: 20px;
}

/* responsive */

@media screen and (min-width: 900px) {
  .logo {
    width: 50px;
    margin: 0 30px 0 40px;
  }

  .poster img {
    max-width: 250px;
    transition: all 0.5s ease-in;
  }

  .title {
    font-size: 1em;
  }

  .search-bar input {
    width: 395px;
    height: 35px;
    font-weight: 900;
    padding-left: 10px;
    background: url("./Images/magnify.png") no-repeat right calc(5% - 10px)
      center;
    background-size: 22px;
  }

  .search-bar input::placeholder {
    color: white;
    opacity: 0.5;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 290px;
  }

  .row-2x {
    grid-row: 2 / span 2;
  }

  .row-3x {
    grid-row: 1 / span 2;
  }

  .list li {
    font-size: 1em;
  }

  .profile-container {
    display: flex;
    justify-content: flex-end;
  }

  .profile {
    width: 30px;
    height: 30px;
    transition: all 0.5s ease-in;
    background-size: 100%; 
  }

  .profile-images {
    width: 150px;
    margin: 20px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px 100px;
    background-size: 100%;
  }

  .bar {
    position: absolute;
    margin: 20px 0 0 80px;
  }

  .bar button:hover {
    opacity: 1;
  }

  .bar button {
    opacity: 0.2;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
  }

  .form-container {
    margin: 45px auto;
    /* padding: 20px 40px 70px 110px; */
    padding: 160px 350px;
    border-radius: 20px;
    background: rgb(0, 0, 0) url("./Images/background.png") no-repeat;
    background-size: 100%;
    box-shadow: 0 0 10px 0 rgb(165, 0, 0);
  }

  .form-group input {
    padding: 30px 70px 10px 0;
    font-size: 0.9em;
  }

  .btn {
    margin: 30px 0 0 220px;
    padding: 5px 16px;
    font-size: 1em;
    border: solid 1.5px transparent;
  }

  .modal-form {
    text-align: unset;
  }

  .modal-div {
    position: absolute;
    left: 48%;
    top: 10%;
  }

  .modal-description {
    position: absolute;
    top: 20%;
    left: 48%;
  }

  .modal-description a {
    color: black;
    font-size: 1.5em;
  }

  .modal-description h6 {
    margin-top: 10px;
    font-size: 1em;
  }
  .modal-input {
    border-style: hidden;
    outline: none;
    font-size: 2.5em;
    font-weight: bold;
  }

  .modal-input:focus {
    color: red;
  }

  .modal-btn {
    font-size: 1.3rem;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .modal-form h1 {
    font-size: 2em;
  }

  .modal-form img {
    width: 400px;
    margin: 20px;
  }

  .alert-danger {
    width: 500px;
    height: 40px;
    background-color: #b9121a;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
    color: rgb(255, 172, 186);
    font-size: 1em;
    border: 1.5px solid #df0e0e;
  }

  .alert-success {
    width: 150px;
    height: 30px;
    background-color: #15d189;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
    color: rgb(172, 255, 227);
    font-size: 0.5em;
    border: 1.5px solid #09f1a4;
  }
}
